img {
  border-radius: 28px;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  height: 3054px;
  margin: 88px 80px 137px 80px;
}

footer {
  box-sizing: border-box;
  width: 206px;
  height: 24px;
  margin: 65px 537px 48px 537px;
}
